
:root{
    --White: white  ;
    --light-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --Dark-Greyish-red: hsl(0, 6%, 24%);
    --font-family1:'Josefin Sans', sans-serif;  /* font weights => 300, 400, 600  */
   
    }
 body{
    max-height: 100vh;
    background-color: var(--White)
    /* display: flex;
    justify-content: center;
    align-items: center; */


 }


 .container{
    width: 65rem;
    height: 550px;
    background-color: var(--White);
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
 }
 .article-container{
    width: 40rem;
    height: 550px ;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: var(--White); */
    background-image: url(/assets/images/bg-pattern-desktop.svg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
 }
 .logo{
    width: 130px;
    height: fit-content;
    position: absolute;
    left: 145px;
    top: 40px;
   
}

 h1{
    font-family: var(--font-family1);
    font-weight: 600;
    font-size: 50px ;
    color: var(--Dark-Greyish-red);
    margin-left: 9rem;
    margin-top: 60px;
    letter-spacing: 15px ;
 }

 h2{
    font-family: var(--font-family1);
    font-weight: 400;
    font-size: 13px;
    margin-left: 9rem;
    margin-top: -30px;
    line-height: 20px;
    color: var(--light-red);
 }
 .titleFirstLine{
    font-weight: 300;
    color: var(--light-red);
    letter-spacing: 14px;
 }
 .form-container{
   width: 350px;
   height: 150px;
   margin: 0 auto;
   position: relative;
 
   display: flex;
   justify-content: center;
   align-items:center;

 }
 #emailInput{
   width: 350px;
   height: 45px;
   font-family: var(--font-family1);
   color: var(--Dark-Greyish-red);
   border-radius: 50px;
   box-sizing: border-box;
   padding: 15px;
   margin-top: 20px;
   opacity: 0.8;
   border: 1px solid var(--Dark-Greyish-red) ;
   background-color: none;
   background-color: white;
 }
 #emailInput:focus{
   border: 1px solid var(--Dark-Greyish-red) ;
   outline: none;
 }
 #emailInput::placeholder{
   color: var(--light-red);
   border: none;
   outline: none;
   opacity: 0.8;
 }
 .error-txt{
   font-family: var(--font-family1);
   font-size: 14px;
   color: var(--soft-red);
   position: absolute;
   left: 18px;
   bottom: 5px;
   opacity: 0.8;
   display: none;
}
.error-icon{
   display: block;
   position: absolute;
   left: 240px;
   bottom: 53px;
   opacity: 0.8;
   display: none;
   
}
 #submitBtn{
   width: 80px;
   height: 45px;
   border-radius: 50px;
   position: absolute;
   top: 62px;
   right: 0px;
   z-index: 10;
   border: none;
   outline: none;
   background: rgb(238,140,140);
   background: linear-gradient(90deg, rgba(238,140,140,1) 0%, rgba(248,191,191,1) 100%);
   cursor: pointer;
   transition: all 500ms ease-in-out ;
   transform: scale(1);
 }
 #submitBtn > img{
   transition: all 500ms ease-in-out ;
 }
 #submitBtn:hover{
   transition: all ease-in-out 500ms;
   box-shadow: none;
   background: rgb(238,140,140);
   background: linear-gradient(90deg, rgb(233, 170, 170) 0%, rgb(250, 216, 216) 100%);
   transform: scale(1.1);
   box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.315);
 }
 #submitBtn img{
   margin-left: 5px;
 }
 #submitBtn:hover img{
   transform: translateX(15px);
   transition: all ease-in-out 500ms ;
   scale: 1.1;
 }
 .img-container{
    width: 25rem;
    height: 550px;
 }
 .img1{
    height: 550px;
    filter: sepia(30%);
 }



